.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
/doc/
/Meta/
vignettes/*_cache/
vignettes/*.html
vignettes/*_files/
scratch_*.R
/internal/
README.html
mixtureEM.Rcheck/
mixtureEM_*.tar.gz
/docs/
